.header-intro-container,
.footer {
  background-color: #1f2937;
  color: white;
}

.header-intro-container {
  padding: 0px 150px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 80px;
}

ul {
  padding: 0;
  margin: 0;
}

.intro-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.placeholder-img {
  height: auto;
  width: 700px;
  border: white solid;
}

button {
  height: 25px;
  width: 90px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 30px;
}

.content {
  display: flex;
  gap: 30px;
}

.content img {
  height: 100px;
  width: 100px;
  border-color: #3882f6;
  border-width: 2px;
  border-style: solid;
}

.img-and-info-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100px;
}

.info {
  text-wrap: wrap;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 0 220px;
  padding-bottom: 60px;
  padding-top: 80px;
}

.quote-tag {
  align-self: flex-end;
}

.sign-up-banner {
  display: flex;
}
